*.sage.py
docs/_book
.env.development.local
yarn-debug.log*
*.egg
.scrapy
*.spec
cover/
npm-debug.log*
pids
.env
docs/_build/
lib64/
dist/
downloads/
*.py,cover
.temp
.yarn-integrity
.vuepress/dist
*$py.class
logs
env/
local_settings.py
jspm_packages/
.pnp.*
coverage.xml
.ropeproject
__pypackages__/
yarn-error.log*
.installed.cfg
.dmypy.json
share/python-wheels/
/.netlify
lerna-debug.log*
htmlcov/
.fusebox/
celerybeat.pid
.cache/
.webpack/
[Bb]in
.pdm.toml
.ipynb_checkpoints
env.bak/
out
.tox/
*.tgz
pyvenv.cfg
.env.test.local
venv.bak/
.coverage
[Ll]ocal
*.cover
.rts2_cache_cjs/
[Ll]ib64
.tern-port
cython_debug/
.coverage.*
ipython_config.py
*.tsbuildinfo
.env.local
.yarn/build-state.yml
pyrightconfig.json
*.lcov
.yarn/install-state.gz
.lock-wscript
/site
*.so
[Ii]nclude
MANIFEST
.parcel-cache
.rts2_cache_es/
.env.production.local
.yarn/cache
.ruff_cache/
pip-delete-this-directory.txt
.output
venv/
dist
.rts2_cache_umd/
dmypy.json
target/
.next
bower_components
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
poetry.toml
db.sqlite3
.vscode-test
test/
.yarn/unplugged
ENV/
.cache
build/
build/Release
.grunt
instance/
.nox/
.webassets-cache
eggs/
[Ll]ib
.stylelintcache
db.sqlite3-journal
lib/
pip-log.txt
parts/
nosetests.xml
.gen
[Ss]cripts
.pyre/
.pytype/
.nyc_output
.pytest_cache/
web_modules/
*.mo
.venv
.spyderproject
.nuxt
lib-cov
wheels/
node_modules
.pnpm-debug.log*
.hypothesis/
.mypy_cache/
*.log
.dynamodb/
.eslintcache
.svelte-kit
.npm
*.py[cod]
.eggs/
.nuxt-*
develop-eggs/
*.egg-info/
.pybuilder/
*.pid.lock
__pycache__/
var/
.rpt2_cache/
.docusaurus
.Python
sdist/
*.seed
coverage
*.manifest
.spyproject
*.pot
.serverless/
*.pid
celerybeat-schedule
profile_default/
pip-selfcheck.json
node_modules/
.node_repl_history