yarn/cache
.nuxt
.nuxt-*
*.lcov
yarn-debug.log*
.yarn/build-state.yml
*.seed
.env.production.local
lib-cov
.cache
.svelte-kit
dist
.tern-port
yarn-error.log*
.vscode-test
yarn-error.log
.rpt2_cache/
build/Release
.gen
.dynamodb/
.rts2_cache_cjs/
.pnp.*
.next
.stylelintcache
test/
logs
.output
.node_repl_history
.env.test.local
web_modules/
.npm
coverage
bower_components
*.tsbuildinfo
.lock-wscript
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.docusaurus
.yarn-integrity
.parcel-cache
.pnpm-debug.log*
.env
node_modules/
.env.development.local
.eslintcache
jspm_packages/
.fusebox/
.grunt
.yarn/install-state.gz
.temp
node_modules
*.pid
.env.local
/.netlify
.webpack/
*.tgz
.cache/
.rts2_cache_umd/
.rts2_cache_es/
.vuepress/dist
*.pid.lock
docs/_book
npm-debug.log
out
.serverless/
dist/
*.log
.yarn/unplugged
.nyc_output
npm-debug.log*
lerna-debug.log*
.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
